<% uuid = SecureRandom.uuid %>

<button
  data-dropdown-toggle="<%= uuid %>"
  class="<%= local_assigns[:class] %> inline-flex items-center text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-3 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
>
  <% if defined?(text) %>
    <span class="mr-2"><%= text %></span>
    <%= heroicon 'chevron-down' %>
  <% else %>
    <%= heroicon 'bars-2' %>
  <% end %>
</button>

<!-- Dropdown menu -->
<div
  id="<%= uuid %>"
  class="hidden z-20 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700"
  data-test-id="dropdown"
>
  <ul class="py-1 text-sm text-gray-700 dark:text-gray-200">
    <% entries.each do |entry| %>
      <li>
        <%=
          link_to entry[:url],
                  data: {
                    'turbo-method' => entry[:method],
                  },
                  class: 'block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white' do
        %>
          <div class="flex"><%= entry[:title] %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
