<% dropdown_entries = [] %>
<%
  if current_user.favorited?(metric)
    dropdown_entries.concat([title: 'Unfavorite', url: user_favorites_path(metric_name: metric.name), method: :delete])
  else
    dropdown_entries.concat(
      [title: 'Add to favorites', url: user_favorites_path(metric_name: metric.name), method: :post],
    )
  end
%>

<div class="relative">
  <div class="absolute top-4 right-2"><%= render 'components/dropdown', entries: dropdown_entries %></div>
  <%= link_to user_metrics_path(
                    project_id: @project.id,
                    metric_name: metric.name,
                    owner_handles: @selected_owners&.map(&:handle),
                  ), class: "overflow-hidden w-full block p-4 pb-0 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" do %>
    <h3 class="inline">
      <div class="flex items-center">
        <% if current_user.favorited?(metric) %>
          <%= heroicon 'star', options: { class: 'mr-2' } %>
        <% end %>
        <%= metric.name %>
      </div>
    </h3>
    <div
      class="h-56 mt-3 -ml-12 -mr-9 -mb-12"
      data-chart
      data-serie="<%= metric.chart_data(owners: @selected_owners).sort_by(&:first).map{|x,y| {x:,y:}}.to_json %>"
      data-serie-name="<%= metric.name %>"
      data-show-label="false"
    ></div>
  <% end %>
</div>
