<div class="text-center flex-col gap-6">
  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
    Plans that scale with your team
  </h2>
  <p class="my-6 text-gray-500 md:text-lg dark:text-gray-400">
    Cherry is in public beta, and prices will rise as we add more features.</br>
    Lock in your price now and get all future updates for free.
  </p>
  <div class="mb-8"><%= render 'components/main_cta_buttons' %></div>
</div>

<div class="md:flex mt-6 mb-3">
  <div
    class="w-full p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-slate-800 dark:border-gray-700 md:mr-3 mb-3 md:mb-0"
  >
    <h5 class="mb-4 text-xl font-medium">Individual</h5>
    <div class="mb-3">For solopreneurs, and developers working alone.</div>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-3xl font-semibold">$</span>
      <span class="text-5xl font-extrabold tracking-tight">0</span>
      <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
    </div>
    <ul role="list" class="space-y-5 my-7">
      <hr />
      <%= render 'components/pricing_item', text: 'One single member' %>
      <%= render 'components/pricing_item', text: 'One single project' %>
      <hr />
      <%= render 'components/pricing_item', status: :off, text: 'Email support' %>
      <%= render 'components/pricing_item', status: :off, text: 'Live chat support' %>
      <%= render 'components/pricing_item', status: :off, text: 'Single Sign-On' %>
    </ul>
    <%= render 'components/sign_in_button', text: 'Start now for free' %>
  </div>

  <div
    class="w-full p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-slate-800 dark:border-gray-700 md:mr-3 mb-3 md:mb-0"
  >
    <h5 class="mb-4 text-xl font-medium">Team Plan</h5>
    <div class="mb-3">For small teams and start-ups with up to 10 members.</div>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-3xl font-semibold">$</span>
      <span class="text-5xl font-extrabold tracking-tight">9</span>
      <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
    </div>
    <ul role="list" class="space-y-5 my-7">
      <hr />
      <%= render 'components/pricing_item', text: 'Up to 10 members' %>
      <%= render 'components/pricing_item', text: 'Up to 3 projects' %>
      <hr />
      <%= render 'components/pricing_item', status: :on, text: 'Email support' %>
      <%= render 'components/pricing_item', status: :off, text: 'Live chat support' %>
      <%= render 'components/pricing_item', status: :off, text: 'Single Sign-On' %>
    </ul>
    <%= render 'components/sign_in_button', text: 'Start now for free' %>
  </div>

  <div class="w-full p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-slate-800 dark:border-gray-700">
    <h5 class="mb-4 text-xl font-medium">Enterprise Plan</h5>
    <div class="mb-3">For larger organizations with complex needs.</div>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-3xl font-semibold">$</span>
      <span class="text-5xl font-extrabold tracking-tight">99</span>
      <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
    </div>
    <ul role="list" class="space-y-5 my-7">
      <hr />
      <%= render 'components/pricing_item', status: :on, text: 'Unlimited members' %>
      <%= render 'components/pricing_item', status: :on, text: 'Unlimited projects' %>
      <hr />
      <%= render 'components/pricing_item', status: :on, text: 'Email support' %>
      <%= render 'components/pricing_item', status: :on, text: 'Live chat support' %>
      <%= render 'components/pricing_item', status: :on, text: 'Single Sign-On' %>
    </ul>
    <a
      href="https://calendar.app.google/aTXptJHUJnMXy9rU7"
      target="_blank"
      class="w-full btn-primary block text-center"
    >
      Schedule a call
    </a>
  </div>
</div>

<div class="w-full p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-slate-800 dark:border-gray-700">
  <div class="md:flex">
    <div class="md:w-2/5">
      <h5 class="mb-2 text-xl font-medium">We'll do it all for you</h5>
      <div class="mb-4">From spec, to integration, to delivery. Explain us your technical vision, and we'll craft a winning strategy for you.</div>
      <div class="flex items-baseline text-gray-900 dark:text-white gap-1">
        <span class="text-3xl font-semibold text-blue-500">$60</span>
        <span class="text-5xl font-semibold line-through">$120</span>
        <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/ hour</span>
      </div>
    </div>
    <hr class='my-5' />
    <div class="md:w-3/5">
      <ul role="list" class="space-y-5 mb-6">
        <%=
          render 'components/pricing_item', status: :on, text: "Set up your metrics and develop tailor-made integrations"
        %>
        <%= render 'components/pricing_item', status: :on, text: 'Configure your CI/CD to prevent new violations' %>
        <%=
          render 'components/pricing_item', status: :on, text: "Relentlessly drive your project until it's a success"
        %>
      </ul>
      <a
        href="https://calendar.app.google/aTXptJHUJnMXy9rU7"
        target="_blank"
        class="w-full btn-primary block text-center"
      >
        Schedule a call
      </a>
    </div>
  </div>
</div>

<div
  class="text-center w-full rounded-lg pt-8 dark:border-gray-700 md:mr-3 md:mb-0 mt-3 font-light text-gray-500 md:text-lg dark:text-gray-400"
>
  Are you working on open-source?
  <a href="https://x.com/fwuensche" class="text-link" target="_blank">Shoot me a message on twitter ❤️</a>
</div>
