<div class="md:text-center mb-6">
  <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
    Free forever for open-source 👐
  </h2>
  <p class="mt-4 font-light text-gray-500 md:text-lg dark:text-gray-400">
    Want to keep your projects private? Check out our paid plans.
  </p>
</div>

<div class="md:flex mt-6">
  <div
    class="w-full p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 md:mr-3 mb-3 md:mb-0"
  >
    <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Individuals</h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-3xl font-semibold">$</span>
      <span class="text-5xl font-extrabold tracking-tight">9</span>
      <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
    </div>
    <ul role="list" class="space-y-5 my-7">
      <%= render 'components/pricing_item_on', text: 'Unlimited private projects' %>
      <%= render 'components/pricing_item_on', text: 'Unlimited occurrences' %>
      <%= render 'components/pricing_item_off', text: 'Unlimited project members' %>
      <%= render 'components/pricing_item_off', text: 'Single Sign-On' %>
      <%= render 'components/pricing_item_off', text: '24x7 email support' %>
    </ul>
    <a
      href="<%= Rails.application.credentials.dig(Rails.env.to_sym, :stripe, :individual_plan_url) %>"
      target="_blank"
      class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
    >
      Choose plan
    </a>
  </div>

  <div class="w-full p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Organizations</h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-3xl font-semibold">$</span>
      <span class="text-5xl font-extrabold tracking-tight">99</span>
      <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
    </div>
    <ul role="list" class="space-y-5 my-7">
      <%= render 'components/pricing_item_on', text: 'Unlimited private projects' %>
      <%= render 'components/pricing_item_on', text: 'Unlimited occurrences' %>
      <%= render 'components/pricing_item_on', text: 'Unlimited project members' %>
      <%= render 'components/pricing_item_on', text: 'Single Sign-On' %>
      <%= render 'components/pricing_item_on', text: '24x7 email support' %>
    </ul>
    <a
      href="<%= Rails.application.credentials.dig(Rails.env.to_sym, :stripe, :organization_plan_url) %>"
      target="_blank"
      class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
    >
      Choose plan
    </a>
  </div>
</div>

<div
  class="text-center w-full pt-8 dark:bg-gray-800 dark:border-gray-700 md:mr-3 md:mb-0 mt-3 font-light text-gray-500 md:text-lg dark:text-gray-400"
>
  <div>
    Are you working on open-source?
    <a href="javascript:void" data-modal-toggle="contact-modal" class="text-link">Shoot us a message here ❤️</a>
  </div>
</div>
