<div class="overflow-x-auto relative">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">Project</th>
        <th scope="col" class="py-3 px-6">Owner</th>
        <th scope="col" class="py-3 px-6">Updated at</th>
        <th scope="col" class="py-3 px-6">Occurrences</th>
        <th scope="col" class="py-3 px-6">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= '🌎' if project.public_access? %>
            <%= '🔒' if project.private_access? %>
            <%= project.name %>
          </th>
          <td class="py-4 px-6">
            <%= project.user.name %>
          </td>
          <td class="py-4 px-6">
            <% if project.reports.any? %>
              <%= time_ago_in_words project.reports.last.created_at %> ago
            <% end %>
          </td>
          <td class="py-4 px-6">
            <% if project.reports.any? %>
              <%=
                link_to "#{project.reports.last.total} occurrences",
                        user_metrics_path(project_id: project.id),
                        class: 'text-link'
              %>
            <% end %>
          </td>
          <td class="py-4 px-6">
            <% if project.user == current_user %>
              <% if project.private_access? %>
                <%=
                  button_to 'Make public',
                            publicize_user_project_path(project, { project: { access: 'public' } }),
                            method: :post,
                            class: 'text-link'
                %>
              <% else %>
                <%=
                  button_to 'Make private',
                            privatize_user_project_path(project, { project: { access: 'private' } }),
                            method: :post,
                            class: 'text-link'
                %>
              <% end %>
              <%= button_to 'Delete', user_project_path(project), method: :delete, class: 'text-link' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
