<a
  href="<%= current_user ? user_metrics_path(project_id: project.id) : google_sign_in_path %>"
  class="block p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
>
  <div class="flex flex-col h-full">
    <h5 class="mb-3 text-xl font-medium text-gray-900 dark:text-white">
      <%= '🌎' if project.public_access? %>
      <%= '🔒' if project.private_access? %>
      <%= project.name %>
    </h5>

    <% if project.reports.any? %>
      <span class="text-sm text-gray-500 dark:text-gray-400">
        <%=
          area_chart Metric.new(name: project.metrics.first.name, project: project).chart_data,
                     height: 70,
                     legend: false,
                     library: {
                       scales: {
                         x: {
                           ticks: {
                             display: false,
                           },
                         },
                         y: {
                           ticks: {
                             display: false,
                           },
                         },
                       },
                     }
        %></span>
    <% else %>
      <span class="py-16 mx-auto my-auto text-sm text-gray-500 dark:text-gray-400">No reports yet</span>
    <% end %>
  </div>
</a>
