<%
  testimonials = [
    {
      name: 'Arturo Edo',
      position: 'CEO, Reserva Ink',
      image_url:
        'https://media.licdn.com/dms/image/C4E03AQHo6sKhi6s9hA/profile-displayphoto-shrink_200_200/0/1516962323454?e=2147483647&v=beta&t=-eUs5z2Lf8XoZU21T82fxzvwLHE7YmPIZg__RRzI8G0',
      heading: 'Clean code, happy devs',
      text:
        "Cherry is just what we needed to keep track of our technical debt. It's a great tool to keep our codebase clean and our developers motivated.",
    },
    {
      name: 'Flavio Wuensche',
      position: 'Staff Engineer, Doctolib',
      image_url: 'https://pbs.twimg.com/profile_images/1230153026515742727/DsPePwIM_400x400.jpg',
      heading: 'Perfect for code migrations',
      text:
        "I'm the creator of the tool and surely biased here, but I truly think Cherry is the perfect tool for code migrations, especially in large codebases and with multiple teams.",
    },
    {
      image_url: 'https://via.placeholder.com/150',
      heading: 'Your testimonial here',
      text: 'Tell us how Cherry helped your colleagues keep their codebase clean and developers happy.',
    },
  ]
%>

<h1 class="text-center text-5xl font-extrabold tracking-tight">
  We are <%= render 'components/highlight', text: pluralize(User.count, 'developer') %> using Cherry
</h1>
<p class="text-center mt-8 mb-10 text-base text-gray-500 text-xl">When will you join us?</p>

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  <% testimonials.each do |testimonial| %>
    <div class="p-6 rounded-lg bg-slate-100">
      <div class="mb-4 flex flex-col gap-3">
        <p class="font-medium"><%= testimonial[:heading] %></p>
        <p class="text-gray-500 dark:text-gray-400"><%= testimonial[:text] %></p>
      </div>
      <div class="flex">
        <% if !testimonial[:name] %>
          <a href="https://x.com/fwuensche" class="btn btn-primary" target="_blank" rel="noopener noreferrer">
            Reach out on ğ•
          </a>
        <% else %>
          <div class="mr-4">
            <img
              class="rounded-full max-w-12"
              src="<%= testimonial[:image_url] %>"
              alt="picture of <%= testimonial[:name] %>"
            />
          </div>
          <div class="flex flex-col">
            <p class="font-medium"><%= testimonial[:name] %></p>
            <p class="text-gray-500"><%= testimonial[:position] %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
