<h1>Inactive Account</h1>

<p>Hello <%= @user.name.split.first %>,</p>

<p>
  This is a kind reminder that user accounts are deleted after 6 months of inactivity.
  <b>Your account has been inactive for <%= time_ago_in_words @user.updated_at %>.</b>
</p>

<p>
  If you do not sign in to your account before <%= (@user.updated_at.to_date + 6.months).to_fs(:long_ordinal) %>, all
  the data associated with your account, under email <%= @user.email %>, will be permanently deleted.
</p>

<p><a href="<%= root_url %>" class="btn">Sign in to keep your account</a></p>

<p>If you need any assistance, directly reply to this email.</p>

<p><a href="https://twitter.com/fwuensche">@fwuensche</a></p>
