<p>Hi <%= @user.name.split.first %>! 👋</p>

<p>Here's how your projects evolved during the last ~7 days.</p>

<% @user.projects.each do |project| %>
  <table class="reports-table" style="margin-bottom:1.5rem;">
    <thead>
      <tr>
        <td><%= project.name %></td>
        <td style="width:10%;">Count</td>
        <td style="width:10%;">Change</td>
      </tr>
    </thead>
    <tbody>
      <% project.metrics.each do |metric| %>
        <% report = metric.reports.order(:date).last %>
        <% previous_report = metric.reports.where('date < ?', 7.days.ago).order(:date).last %>
        <% next if previous_report.nil? %>
        <% next if previous_report == report %>
        <% next if report.value == previous_report.value %>

        <tr>
          <td>
            <%= link_to metric.name, user_projects_url(project_id: project.id, metric_id: metric.id) %>
          </td>
          <td class="text-right"><%= number_with_delimiter report.value.round %></td>
          <td class="text-right">
            <%= number_to_diff((report.value - previous_report.value).round) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<p>Hope you're in a good trend!<br />@fwuensche</p>

<p>
  PS: To receive daily notifications on specific metrics, just go to one of the links above and click the "Watch"
  button. ✨
</p>
