<%# TODO: to make it more personal, the welcome email should be written in plain text %>

<p>Hello <%= @user.name.split.first %>! 👋</p>

<p>Here are a few links to help you get started.</p>

<p>If you're already part of an existing organization, here you'll find:</p>

<p>
  <a href="<%= user_dashboards_url %>">Your Dashboards <%= image_tag 'ss_dashboards.webp' %></a>
</p>

<p>
  <a href="<%= user_projects_url %>">Your Projects <%= image_tag 'ss_code_migration.webp' %></a>
</p>

<p>
  Or if you're just starting out, I'd advise you to take a look at the <a href="<%= docs_url %>">Cherry Docs</a>
  but also take a short minute to reply to this email and let me know:
</p>

<ul>
  <li>What's your current tech stack?</li>
  <li>What are you trying to achieve?</li>
</ul>

<%#
  TODO: Write another email on day 2 to explain how to customize the metrics tracked.
  <p>
    If you want to customize the metrics you track, you can edit the
    <code>.cherry.js</code> file, created at the root of your project. Just add new patterns as you wish, and run the
    <code>cherry backfill</code> command again.
  </p>
%>

<!--
  TODO: Write another email on day 3 to explain how to automate the data submission.
  <p>
    Lastly, if you want to automate the data submission, there's a one-step process on how to
    <a href="<%= docs_url %>">Integrate with GitHub Actions</a> available in our docs.
  </p>
-->

<p>
  I'm glad to help! Just shoot your message here 😊<br />
  <a href="https://twitter.com/fwuensche">@fwuensche</a>
</p>
