<%# TODO: to make it more personal, the welcome email should be written in plain text %>

<p>Hello <%= @user.name.split.first %>! Welcome to Cherry!</p>

<p>
  We're a very small team of two and we want to make sure we're building something useful for you. If you have 5
  minutes, just go ahead and directly reply to this email. Tell us the problems that you're trying to solve.
</p>

<p>
  To get an overview of the CLI, we recommend setting aside some time to
  <a href="<%= docs_url %>" target="_blank" id="">explore the docs</a>. Otherwise, let's get straight to setting up your
  first project!
</p>

<%# TODO: use image from within the project, if any %>
<img
  style="max-width: 100% !important; height: auto !important"
  src="https://i.imgur.com/ihhJZCZ.png"
  alt="cherrypush dashboard screenshot"
/>

<p>In a few short steps:</p>

<ol>
  <li>In the <a href="<%= user_projects_url %>">Cherry Projects tab</a>, click on the 'New project' card.</li>
  <li>Follow the sequence of commands listed in the modal.</li>
  <li>
    Refresh the browser to see your metrics in the
    <a href="<%= user_projects_url %>">Dashboard</a>.
  </li>
</ol>

<%#
  TODO: Write another email on day 2 to explain how to customize the metrics tracked.
  <p>
    If you want to customize the metrics you track, you can edit the
    <code>.cherry.js</code> file, created at the root of your project. Just add new patterns as you wish, and run the
    <code>cherry backfill</code> command again.
  </p>
%>

<!--
  TODO: Write another email on day 3 to explain how to automate the data submission.
  <p>
    Lastly, if you want to automate the data submission, there's a one-step process on how to
    <a href="<%= docs_url %>">Integrate with GitHub Actions</a> available in our docs.
  </p>
-->

<p>That's all you need to get started!<br />~ Flavio</p>
