<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Debt Owners 🧹
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Owner</th>
        <th scope="col" class="px-6 py-3 text-right">Count</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% metric.owners.each do |owner| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td scope="row" class="pl-3 px-6 py-4">
            <div class="flex items-center">
              <%= render 'components/favorite_button', resource: owner %>
              <%= owner.handle %>
            </div>
          </td>
          <td class="px-6 py-4 text-right">
            <%= owner.count %>
          </td>
          <td class="px-6 py-4 text-right">
            <% if selected_owners && selected_owners.map(&:handle).include?(owner.handle) %>
              <%=
                        link_to user_metrics_path(
                                  project_id: project.id,
                                  metric_name: metric.name,
                                  owner_handles: selected_owners.map(&:handle) - [owner.handle],
                                ) do
                      %>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              <% end %>
            <% else %>
              <%=
                        link_to user_metrics_path(
                                  project_id: project.id,
                                  metric_name: metric.name,
                                  owner_handles: (selected_owners&.map(&:handle) || []) + [owner.handle],
                                ),
                                class: 'text-blue-600 dark:text-blue-500' do
                      %>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z"
                  />
                </svg>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
