<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Debt Owners 🧹
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Owner</th>
        <th scope="col" class="px-6 py-3 text-right">Count</th>
        <th scope="col" class="px-6 py-3"><%= heroicon 'funnel' %></th>
      </tr>
    </thead>
    <tbody>
      <% metric.owners.each do |owner| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td scope="row" class="pl-3 px-6 py-4">
            <div class="flex items-center">
              <%= render 'components/favorite_button', resource: owner %>
              <%= owner.handle %>
            </div>
          </td>
          <td class="px-6 py-4 text-right">
            <%= owner.count %>
          </td>

          <td class="px-6 py-4 text-right">
            <% if selected_owners && selected_owners.map(&:handle).include?(owner.handle) %>
              <%=
                        link_to user_metrics_path(
                                  project_id: project.id,
                                  metric_name: metric.name,
                                  owner_handles: selected_owners.map(&:handle) - [owner.handle],
                                ),
                                class: 'text-blue-600 dark:text-blue-500' do
                      %>
                <%= heroicon 'x-mark' %>
              <% end %>
            <% else %>
              <%=
                        link_to user_metrics_path(
                                  project_id: project.id,
                                  metric_name: metric.name,
                                  owner_handles: (selected_owners&.map(&:handle) || []) + [owner.handle],
                                ),
                                class: 'text-blue-600 dark:text-blue-500' do
                      %>
                <%= heroicon 'plus' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <% if metric.owners.empty? %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50">
          <td colspan="3" class="px-6 py-4">
            You can start using owners on your project by adding a CODEOWNERS file to your repository. Learn more about
            code owners through the official docs:
            <%=
              link_to 'About code owners',
                      'https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners',
                      class: 'text-link'
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
