<div class="float-right justify-end px-4 pt-2">
  <button
    id="dropdownButton"
    data-dropdown-toggle="project-dropdown-<%= project.id %>}"
    data-dropdown-placement="bottom-end"
    class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
    type="button"
  >
    <span class="sr-only">Open dropdown</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
    </svg>
  </button>
  <!-- Dropdown menu -->
  <div
    id="project-dropdown-<%= project.id %>}"
    class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700"
  >
    <ul class="py-1" aria-labelledby="dropdownButton">
      <li>
        <% if project.user == current_user %>
          <% if project.private_access? %>
            <%=
              button_to 'Convert to public',
                        publicize_user_project_path(project, { project: { access: 'public' } }),
                        method: :post,
                        class:
                          'w-full text-left block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'
            %>
          <% else %>
            <%=
              button_to 'Convert to private',
                        privatize_user_project_path(project, { project: { access: 'private' } }),
                        method: :post,
                        class:
                          'w-full text-left block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'
            %>
          <% end %>
        <% end %>
      </li>
      <li>
        <%# TODO: show a dialog to confirm before deleting %>
        <%=
          button_to 'Delete',
                    user_project_path(project),
                    method: :delete,
                    class:
                      'w-full text-left block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white'
        %>
      </li>
    </ul>
  </div>
</div>
