<div class="inline-flex flex-wrap">
  <%=
    render 'components/dropdown', class: 'mr-3', text: "Project: #{project.name}", entries: project_dropdown_entries
  %>

  <% if project.deprecated_reports.any? %>
    <%=
      render 'components/dropdown',
             class: 'mr-3',
             text: metric ? "Metric: #{metric.name}" : 'Filter by metric',
             entries: metric_dropdown_entries(project, selected_owners)
    %>
  <% end %>

  <% if selected_owners %>
    <% selected_owners.each do |owner| %>
      <%
        remove_owner_path =
          user_metrics_path(
            project_id: project.id,
            metric_id: metric&.id,
            owner_handles: selected_owners.map(&:handle) - [owner.handle],
          )
      %>
      <button
        class="inline-flex items-center pl-3 pr-4 py-2.5 mr-3 mb-3 text-gray-900 bg-white border border-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        <%= render 'components/favorite_button', resource: owner %>
        <div class="text-sm font-medium text-gray-700 dark:text-gray-300">
          <%= owner.handle %>
        </div>
        <a
          href="<%= remove_owner_path %>"
          class="ml-2 -mx-1.5 -my-1.5 bg-gray-100 text-gray-500 rounded-lg focus:ring-2 focus:ring-gray-400 p-1.5 hover:bg-gray-200 inline-flex h-8 w-8 dark:bg-gray-800 dark:text-gray-300 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <%= heroicon 'x-mark' %>
        </a>
      </button>
    <% end %>
  <% end %>

  <% if project.owners.any? %>
    <%=
      render 'components/dropdown',
             class: 'mr-3',
             text: selected_owners ? 'Add owner' : 'Filter by owner',
             entries: owner_dropdown_entries(project, metric)
    %>
  <% end %>
</div>
