<% title "Metrics: #{[@project.name, @metric&.name, @selected_owners&.map(&:handle)].compact.join(' | ')}" %>

<%= render 'filters', project: @project, metric: @metric, selected_owners: @selected_owners %>

<% if @project.reports.any? %>
  <% if @metric.present? %>
    <div class="card mb-3 text-center">
      <h3 class="flex items-center">
        <%= render 'components/favorite_button', resource: @metric %>
        <%= @metric.name %>
      </h3>
      <div
        class="h-60 -mb-6"
        data-chart
        data-serie="<%= @metric.chart_data(owners: @selected_owners).map { |x,y| {x:,y:} }.to_json %>"
        data-serie-name="<%= @metric.name %>"
        data-show-label="true"
      ></div>
    </div>

    <% if @metric.reports.last&.value_by_owner&.blank? %>
      <div class="card prose dark:prose-invert max-w-none mb-3">
        <p class="mb-3">To get a full list of occurrences:</p>
        <pre class="mt-3">npm install -g cherrypush<br><%= cherry_run_cmd(@metric.name) %></pre>
      </div>
    <% end %>

    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-3">
      <div class="col-span-1">
        <%= react_component 'DebtOwners', selectedOwners: @selected_owners || [], owners: @metric.owners %>
      </div>
      <div class="col-span-1 xl:col-span-2">
        <%= react_component 'Occurrences', occurrences: @occurrences %>
      </div>
    </div>
  <% end %>

  <% if @metric.blank? %>
    <div class="grid md:grid-cols-3 gap-3">
      <% @project.metrics.sort_by { |metric| metric.name.in?(current_user.favorite_metric_names) ? 0 : 1}.each do |metric| %>
        <%= render 'components/metric_card', metric: metric %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @project.reports.none? %>
  <%= render 'backfill_instructions' %>
<% end %>
