<h1>New authorization</h1>

<%= form_with url: user_authorizations_path do %>
  <div class="my-3">
    <label for="github_handle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >GitHub username*</label
    >
    <input
      id="authorization-users-search"
      name="github_handle"
      class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Start typing to autocomplete..."
      data-src="<%= @github_handles.to_json %>"
      type="search"
      spellcheck="false"
      autocomplete="off"
      autocorrect="off"
      data
      required
    />
    <datalist id="brow" class="text-red-500">
      <% @github_handles.each do |github_handle| %>
        <option value="<%= github_handle %>"></option>
      <% end %>
    </datalist>
  </div>

  <div class="my-3">
    <label for="project" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a project*</label>
    <select
      id="project"
      name="project_id"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      required
    >
      <option value="" selected disabled hidden>Choose a project</option>
      <% @projects.each do |project| %>
        <option value="<%= project.id %>">
          <%= project.name %>
        </option>
      <% end %>
    </select>
  </div>

  <button type="submit" class="btn-primary">Create authorization</button>
<% end %>
