<section
  class="flex gap-6 rounded-xl bg-slate-100 dark:bg-gray-900 mb-12 p-6 md:p-12 text-center <%= defined?(position) && position == 'right' && 'md:!flex-row' %> <%= defined?(position) && position == 'left' && 'md:!flex-row md:!flex-row-reverse' %> flex-col"
>
  <div
    class="flex flex-col items-center justify-center <%= defined?(position) && position.in?(%w[right left]) && 'md:!w-2/5' %>"
  >
    <h2 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white mb-3">
      <%= title %>
    </h2>
    <p class="md:text-lg">
      <%= text %>
    </p>
  </div>
  <div class="<%= defined?(position) && position.in?(%w[right left]) && 'md:w-3/5' %>">
    <%=
      image_tag image, alt: alt, class: 'rounded-lg w-full hover:scale-105 transition drop-shadow hover:drop-shadow-xl'
    %>
  </div>
</section>
