<% title 'Home' %>

<div class="mr-auto place-self-center lg:col-span-7 text-center mt-24 mb-12">
  <h1 class="mb-6 max-w-3xl text-4xl font-extrabold tracking-tight md:text-5xl xl:text-6xl dark:text-white mx-auto">
    Capture the value<br />
    of your technical work
  </h1>
  <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400 mx-auto">
    Technical work often goes unnoticed. Cherry helps you track and visualize the value of your team's work.
  </p>
  <div class="flex flex-col md:flex-row justify-center">
    <%= render 'components/main_cta_buttons' %>
  </div>
</div>

<p class="text-center mb-3 font-bold">
  ☝️ Join <%= number_to_human User.count, units: { thousand: 'k' } %> developers using Cherry
</p>
<div class="flex -space-x-4 justify-center mb-12">
  <% User.where(email: ['f.wuensche@gmail.com', 'arturo.edo@reserva.ink', 'paulo.miranda@reserva.ink', 'momotator@gmail.com']).sample(10).map do |user| %>
    <%= image_tag user.image, class: 'w-10 h-10 border-2 border-white rounded-full dark:border-gray-800' %>
  <% end %>
  <span
    class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600 dark:border-gray-800"
    >+<%= User.count - 10 %></span>
</div>

<%=
  render 'feature_section',
         title: 'The perfect tool for code migrations 📈',
         text: 'Visualize progress over time on a per-team basis.',
         image: 'ss_code_migration.webp',
         alt: 'screenshot of a chart showing the progress of a code migration'
%>

<%=
  render 'feature_section',
         title: 'Reward top contributors 🏆',
         text: 'Recognize developers based on the contributions they made to reduce your technical debt.',
         image: 'ss_top_contributors.webp',
         alt: 'screenshot of the top contributors section'
%>

<%=
  render 'feature_section',
         title: 'Setup once and never look back 🏖️',
         text: 'Cherry integrates with your CI/CD. Every new commit is automatically tracked.',
         image: 'ss_github_action.webp',
         alt: 'screenshot of a successful GitHub Actions workflow build'
%>

<%=
  render 'feature_section',
         title: 'Each team is responsible for their own debt 🕵🏻‍♂️',
         text: 'Use CODEOWNERS to automatically assign issues to your teams.',
         image: 'ss_owners.webp',
         alt: 'screenshot of the autocomplete selector for filtering owners'
%>

<%=
  render 'feature_section',
         title: 'Get alerted about critical changes 🚨',
         text: 'Watch important metrics to receive live notifications. Every contribution counts.',
         image: 'ss_notifications.webp',
         alt: 'screenshot of the notifications page with sample unread notifications'
%>

<section class="rounded-xl bg-slate-100 mb-12 p-6 md:p-12 dark:bg-slate-800 border-dashed border-4">
  <%= render 'components/pricing' %>
</section>

<%=
  render 'feature_section',
         title: 'No sensitive data collected 🤫',
         text:
           'Cherry relies on an <a href="http://npmjs.com/package/cherrypush" class="text-link">open-source CLI</a>. We have no access to your code base.'
             .html_safe,
         image: 'cli.gif',
         alt: 'gif of a basic usage of the cherry cli',
         position: 'left'
%>

<%=
  render 'feature_section',
         title: 'Empower your senior developers 🧙‍♂️',
         text: 'We provide all the tools they need to keep a good codebase hygiene and ensure code quality.',
         image: 'ss_dashboards.webp',
         alt: 'screenshot of the dashboard page',
         position: 'right'
%>

<%=
  render 'feature_section',
         title: 'Low-code setup and configuration 😌',
         text:
           'Everything is done via the .cherry.js file. You can use our built-in plugins or write your own trackers in JavaScript. No need to learn a new stack.',
         image: 'ss_docs.webp',
         alt: 'screenshot of the documentation page',
         position: 'left'
%>

<%=
  render 'feature_section',
         title: 'Document without writing docs 📝',
         text: 'We regroup commits so your devs can easily find references to pull request and learn by example.',
         image: 'ss_contributions.webp',
         alt: 'screenshot of the contributions page',
         position: 'right'
%>

<%=
  render 'feature_section',
         title: 'Effortlessly onboard new devs 🚀',
         text:
           'In a single page they can get a sense of the current state of your codebase, find experts to reach out to, get references to pull requests, and  concrete next steps on how to contribute.',
         image: 'ss_metric_page.webp',
         alt: 'screenshot of the metrics page',
         position: 'left'
%>

<%=
  render 'feature_section',
         title: 'Get more accurate ETAs 🤞',
         text:
           'We help you see all the remaining work at a glance so you can provide better estimates to stakeholders.',
         image: 'ss_occurrences.webp',
         alt: 'screenshot of the occurrences section',
         position: 'right'
%>

<section class="rounded-xl bg-slate-100 mb-12 p-6 md:p-12 dark:bg-slate-800 border-dashed border-4">
  <%= render 'components/pricing' %>
</section>
