<h1>Pricing</h1>

<p>As long as your projects remain public, you can use cherry push for free.</p>
<p class="mb-3">🔒 Need private projects? Check out our paid plans:</p>

<div class="md:flex">
  <div
    class="w-full p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 md:mr-3 mb-3 md:mb-0"
  >
    <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Individuals</h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-3xl font-semibold">$</span>
      <span class="text-5xl font-extrabold tracking-tight">9</span>
      <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
    </div>
    <ul role="list" class="space-y-5 my-7">
      <%= render 'components/pricing_item_on', text: 'Unlimited private projects' %>
      <%= render 'components/pricing_item_on', text: 'Unlimited occurrences' %>
      <%= render 'components/pricing_item_off', text: 'Unlimited project members' %>
      <%= render 'components/pricing_item_off', text: 'Single Sign-On' %>
      <%= render 'components/pricing_item_off', text: '24x7 email support' %>
    </ul>
    <button
      type="button"
      class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
    >
      Choose plan
    </button>
  </div>

  <div class="w-full p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">Organizations</h5>
    <div class="flex items-baseline text-gray-900 dark:text-white">
      <span class="text-3xl font-semibold">$</span>
      <span class="text-5xl font-extrabold tracking-tight">99</span>
      <span class="ml-1 text-xl font-normal text-gray-500 dark:text-gray-400">/month</span>
    </div>
    <ul role="list" class="space-y-5 my-7">
      <%= render 'components/pricing_item_on', text: 'Unlimited private projects' %>
      <%= render 'components/pricing_item_on', text: 'Unlimited occurrences' %>
      <%= render 'components/pricing_item_on', text: 'Unlimited project members' %>
      <%= render 'components/pricing_item_on', text: 'Single Sign-On' %>
      <%= render 'components/pricing_item_on', text: '24x7 email support' %>
    </ul>
    <button
      type="button"
      class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:focus:ring-blue-900 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex justify-center w-full text-center"
    >
      Choose plan
    </button>
  </div>
</div>

<div
  class="w-full p-4 bg-white border rounded-lg shadow-md sm:p-8 dark:bg-gray-800 dark:border-gray-700 md:mr-3 mb-3 md:mb-0 mt-3"
>
  <div>We're <span class="font-bold">free forever</span> for open-source software.</div>
  <div>Are you working on open-source? Shoot us a message on Twitter ❤️</div>
  <div class="mt-3">
    <a class="btn-primary" href="https://twitter.com/fwuensche" target="_blank">
      <svg
        class="inline stroke-white fill-white w-4 h-4 mr-1"
        role="img"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>Twitter</title>
        <path
          d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
        />
      </svg>
      @fwuensche
    </a>
    <a class="btn-primary" href="https://twitter.com/r_chqt" target="_blank">@r_chqt</a>
  </div>
</div>
