<h1>
  <%= @project.name %>
  <%= '🌎' if @project.public_access? %>
  <%= '🔒' if @project.private_access? %>
</h1>
<div class="mb-3">Last updated <%= time_ago_in_words(@project.reports.last.created_at) %> ago</div>

<% if params[:metric_name].blank? %>
  <%=
    render 'components/dropdown',
           class: 'mb-3 mr-3',
           text: 'Filter by metric',
           entries: dropdown_entries_for_metrics(@project, params[:team_name]),
           id: 'dropdown-metrics'
  %>
<% else %>
  <button class="btn-light mb-3 mr-3" disabled>Filtered by <%= params[:metric_name] %></button>
<% end %>

<% if params[:team_name].blank? %>
  <% if dropdown_entries_for_teams(@project, params[:metric_name]).any? %>
    <%=
      render 'components/dropdown',
             class: 'mb-3 mr-3',
             text: 'Filter by team',
             entries: dropdown_entries_for_teams(@project, params[:metric_name]),
             id: 'dropdown-teams'
    %>
  <% end %>
<% else %>
  <button class="btn-light mb-3 mr-3" disabled>Filtered by <%= params[:team_name] %></button>
<% end %>

<% if applied_filters? %>
  <%= link_to 'Clear filters', project_path(@project), class: 'btn-primary' %>
<% end %>

<span class="prose dark:prose-invert ml-3"><%= @occurrences.count %> occurrences</span>

<% if params[:metric_name].present? %>
  <div class="card w-full mb-3">
    <%= column_chart @chart_data, stacked: true, height: '240px', legend: 'top' %>
  </div>
  <% if params[:team_name].present? %>
    <div class="overflow-x-auto relative">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">Occurrence</th>
            <th scope="col" class="py-3 px-6">Owners</th>
          </tr>
        </thead>
        <tbody>
          <% @occurrences.each do |occurrence| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="py-4 px-6">
                <div><%= link_to occurrence.permalink, occurrence.permalink, class: 'text-link' %></div>
                <span
                  class="bg-gray-100 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300"
                ><%= occurrence.metric_name %></span>
              </td>
              <td class="py-4 px-6">
                <%= occurrence.owners.to_sentence %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="overflow-x-auto relative">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">Team</th>
            <th scope="col" class="py-3 px-6">Occurrences</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @occurrences.map(&:owners).flatten.tally.sort_by { |_team, count| -count }.each do |team, count| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="py-4 px-6">
                <%= team %>
              </td>
              <td class="py-4 px-6">
                <%= count %>
              </td>
              <td>
                <%=
                  link_to 'Add to filters',
                          project_path(@project, metric_name: params[:metric_name], team_name: team),
                          class: 'btn-primary btn-sm'
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <% @project.metrics.each do |metric| %>
    <div class="card mb-3 text-center">
      <h3 class="inline"><%= metric %></h3>
      <%=
        link_to 'Add to filters', project_path(@project, metric_name: metric), class: 'btn-primary float-right btn-sm'
      %>
      <%= column_chart @chart_occurrences.where(metric_name: metric).group_by_day(:created_at).count, height: '240px' %>
    </div>
  <% end %>
<% end %>
