<h1>
  <%= @project.name %>
  <%= '🌎' if @project.public_access? %>
  <%= '🔒' if @project.private_access? %>
</h1>
<div class="mb-3">Last updated <%= time_ago_in_words(@project.reports.last.created_at) %> ago</div>

<% if !@metric %>
  <%=
    render 'components/dropdown',
           class: 'mb-3 mr-3',
           text: 'Filter by metric',
           entries: metric_dropdown_entries(@project, @owner),
           id: 'dropdown-metrics'
  %>
<% else %>
  <button class="btn-light mb-3 mr-3" disabled>Filtered by <%= @metric.name %></button>
<% end %>

<% if !@owner %>
  <% if owner_dropdown_entries(@project, @metric).any? %>
    <%=
      render 'components/dropdown',
             class: 'mb-3 mr-3',
             text: 'Filter by owner',
             entries: owner_dropdown_entries(@project, @metric),
             id: 'dropdown-owners'
    %>
  <% end %>
<% else %>
  <button class="btn-light mb-3 mr-3" disabled>Filtered by <%= @owner.handle %></button>
<% end %>

<% if @metric || @owner %>
  <%= link_to 'Clear filters', project_path(@project), class: 'text-link' %>
<% end %>

<% if @metric %>
  <div class="card mb-3 text-center">
    <h3 class="inline"><%= @metric.name %></h3>
    <%= area_chart @metric.chart_data(owner: @owner), height: '240px' %>
  </div>
  <% if @owner %>
    <div class="overflow-x-auto relative">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">Occurrence</th>
            <th scope="col" class="py-3 px-6">Owners</th>
          </tr>
        </thead>
        <tbody>
          <% @metric.occurrences(owner: @owner).each do |occurrence| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="py-4 px-6">
                <div><%= link_to occurrence.file_path, occurrence.permalink, class: 'text-link' %></div>
              </td>
              <td class="py-4 px-6">
                <%= occurrence.owners.to_sentence %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <% occurrences_per_owner = @metric.occurrences.map(&:owners).flatten.tally.sort_by { |_team, count| -count } %>
    <% if occurrences_per_owner.any? %>
      <div class="overflow-x-auto relative">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="py-3 px-6">Team</th>
              <th scope="col" class="py-3 px-6">Occurrences</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% occurrences_per_owner.each do |owner_handle, count| %>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="py-4 px-6">
                  <%= owner_handle %>
                </td>
                <td class="py-4 px-6">
                  <%= count %>
                </td>
                <td>
                  <%=
                    link_to 'Add to filters',
                            project_path(@project, metric_name: @metric.name, owner_handle: owner_handle),
                            class: 'btn-primary btn-sm'
                  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  <% end %>
<% else %>
  <% @project.metrics.each do |metric| %>
    <div class="card mb-3 text-center">
      <h3 class="inline"><%= metric.name %></h3>
      <%=
        link_to 'Add to filters',
                project_path(@project, metric_name: metric.name),
                class: 'btn-primary float-right btn-sm'
      %>
      <%= area_chart metric.chart_data(owner: @owner), height: '240px' %>
    </div>
  <% end %>
<% end %>
