<!DOCTYPE html>
<html>
  <head>
    <title>cherrypush</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= render 'components/favicons' %>

    <%= javascript_include_tag "application", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class='dark:bg-gray-900'>
    <%= render 'components/navbar' %>

    <div class='container-lg'>
      <div class="px-2 mx-auto my-6"><%= yield %></div>
      <%= render 'components/footer' %>
    </div>

  </body>
</html>
