<!DOCTYPE html>
<html class="dark">
  <head>
    <title>cherrypush</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'components/favicons' %>

    <%= stylesheet_link_tag 'application', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="dark:bg-gray-900 text-gray-800 dark:text-white">
    <%= render 'components/navbar' %>
    <%= render 'components/sidebar' %>

    <div class="md:ml-64">
      <div class="mx-3 mt-20">
        <%= render 'components/alerts' %>
        <%= yield %>
        <%= render 'components/footer' %>
      </div>
    </div>
  </body>
</html>
