<!DOCTYPE html>
<html>
  <head>
    <title>cherrypush</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= render 'components/favicons' %>

    <%= javascript_include_tag 'application', defer: true %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body class="dark:bg-gray-900 text-gray-800 dark:text-white">
    <%= render 'components/navbar' %>

    <div class="container">
      <%= render 'components/alerts' %>
      <%= yield %>
      <%= render 'components/footer' %>
    </div>
  </body>
</html>
