<!DOCTYPE html>
<html>
  <head>
    <title>cherrypush</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class='dark:bg-gray-900'>
    <div class=<%= container_class %>>
      <%= render 'components/navbar' %>
      <main class="container px-2 mx-auto my-6">
        <%= yield %>
      </main>
    <%= render 'components/footer' %>
    </div>
  </body>
</html>
