<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="dark:bg-gray-900 text-gray-800 dark:text-white">
    <%= render 'components/landing_navbar' %>

    <div class="container mt-8">
      <%= render 'components/alerts' %>
      <%= yield %>
      <%= react_component 'Footer' %>
    </div>
  </body>
</html>
